.item-list-container{
	color: black;
  text-align: center;
  max-width: 80% !important;
  padding: 0px;
  width: 100%;
}
.welcome-message{
	text-align: center;
	margin-bottom: 20px;
}
.loading{
  height: 50vh;
  margin-top: 25vh;
  font-size: 2rem;
}
.item-list{
  width: 100%;
  margin: 0%;
}